<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <title><%= @tsdata[:timesheet_title] %></title>

    <link href="siteStyles.css" rel="stylesheet" type="text/css">
    <link href="fbStyles.css" rel="stylesheet" type="text/css">

    <link href="styles.css" rel="stylesheet" type="text/css">

    <!--[if IE 6]><link rel="stylesheet" type="text/css" href="/cache/styles/ie6.v1244584144.css" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="/cache/styles/ie7.v1244584144.css" /><![endif]-->
  </head>

  <body style="padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; word-wrap: break-word; -webkit-nbsp-mode: space; -webkit-line-break: after-white-space; ">
    <div style="font-family: 'Century Gothic'; font-size: 12px; color: black; text-align: left; "><br class="webkit-block-placeholder"></div>

    <center>
      <h2>
        <!-- FIXME: Ugly hack -->
        <%= @tsdata[:customer_html_logo] %>
      </h2>
    </center>

    <br />
    <br />

    <table  cellpadding="0" cellspacing="5" width="100%" style="margin-left: 0pt; position: static; z-index: auto; background-color: rgb(217, 217, 217); ">
      <tbody>
        <tr align="left">
          <td align="right"><b>Name:</b></td>
          <td>&nbsp;</td>
          <td align="left"><%= @tsdata[:name] %></td>
        </tr>
        <tr>
          <td align="right"><b>Company:</b></td>
          <td>&nbsp;</td>
          <td align="left"><%= @tsdata[:mycompany] %></td>
        </tr>
        <tr>
          <td align="right"><b>Phone:</b></td>
          <td>&nbsp;</td>
          <td align="left"><%= @tsdata[:myphone] %></td>
        </tr>
        <tr>
          <td align="right"><b>Email:</b></td>
          <td>&nbsp;</td>
          <td align="left"><%= @tsdata[:myemail] %></td>
        </tr>
      </tbody>
    </table>
    <br />

    <table border="0" align="center" cellpadding="0" cellspacing="0" style="position: static; z-index: auto; ">
      <tbody>
        <tr class="white bg_systemcolor1">
          <th colspan="12" bgcolor="#666666" align="center"><%= @tsdata[:timesheet_title] %></th>
        </tr>
        <tr><td height="30" colspan="3"></td></tr>
        <tr class="white bg_systemcolor1">
          <th width="10" align="left">&nbsp;</th>
          <th width="135" align="left">Date</th>
          <th width="170" align="left">Project</th>
          <th colspan="2" width="220" align="left">Notes</th>
          <th colspan="4" width="100" align="right">Hours Logged</th>
        </tr>
        <tr>
          <td colspan="11"></td></tr><tr><td height="5" colspan="11"></td>
        </tr>

        <% @tsdata[:weeksheet].keys.sort.each do |range| %>
          <% timesheet = @tsdata[:weeksheet][range] %>
          <% week_start = range[0] %>
        <% week_end = range[1] %>
        <% weekly_total = @tsdata[:weektotals][range] %>

          <tr height="15">
            <td bgcolor="#CCCCCC" colspan="10" align="left">
              &nbsp;&nbsp;&nbsp;&nbsp;<strong>Week <%= week_start %> - <%= week_end %></strong></td>
          </tr>

          <%# timesheet.each do |date,entries| %>
          <% timesheet.keys.sort.each do |date| %>
            <% entries = timesheet[date] %>
            <% dateshown = false %>

            <% entries.each do |hours,project,note| %>
              <% if dateshown %>
                <!-- All other entries for the day -->
                <tr>
                  <td height="1" colspan="2"></td>
                  <td height="1" colspan="7" bgcolor="#cccccc"></td>
                </tr>
                <tr valign="top" align="left">
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td><%= project %></td>
                  <td><%= note %></td>
                  <td>&nbsp;</td>
                  <td colspan="4" align="right"><%= format("%.2f", hours) %></td>
                </tr>
              <% else %>
                <!-- SHOW THIS FIRST for each day-->
                <%# [date,project,note,hours].inspect %>
                <% dateshown = true %>
                <tr>
                  <td height="1" colspan="10" bgcolor="#cccccc"></td>
                </tr>
                <tr>
                  <td height="5" colspan="6"></td>
                </tr>
                <tr valign="top" align="left">
                  <td>&nbsp;</td>
                  <td><%= date %></td>
                  <td><%= project %></td>
                  <td><%= note %></td>
                  <td>&nbsp;</td>
                  <td colspan="4" align="right"><%= format("%.2f", hours) %></td>
                </tr>
              <% end %>
            <% end %>
          <%end %>

          <tr>
            <td height="1" colspan="10" bgcolor="#000000"></td>
          </tr>
          <tr>
            <td colspan="4">&nbsp;</td>
            <td colspan="3" align="left"><strong>Week Total:</strong></td>
            <td colspan="4" align="right"><strong><%= format("%.2f", weekly_total) %></strong></td>
            <td>&nbsp;</td>
          </tr>
          <tr><td height="10" colspan="3"></td></tr>
        <% end %>

        <tr>
          <td height="5" colspan="9" bgcolor="#000000"></td>
        </tr>
        <tr>
          <td colspan="5">&nbsp;</td>
          <td colspan="2" align="right"><strong>Time&nbsp;Period&nbsp;Total:</strong>&nbsp;&nbsp;</td>
          <td colspan="4" align="right"><strong><%= format("%.2f", @tsdata[:totalhours]) %></strong></td>
          <td>&nbsp;</td>
        </tr>
        <tr><td height="50" colspan="3"></td></tr>
        <tr>
          <td height="5" colspan="9" bgcolor="#0075CE"></td>
        </tr>
        <tr>
          <td height="5" colspan="9"></td>
        </tr>
        <tr>
          <td colspan="7" align="right"></td><td align="right"><b><br></b></td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>

    <div style="font-family: 'Century Gothic'; font-size: 12px; color: black; text-align: left; ">
      <br class="webkit-block-placeholder"></div>

  </body>
</html>
